<div class="row col-lg-12">
    <form class="form-inline mb-3">
        <div class="form-group">
            <span>&nbsp;</span>
            <button
                type="button"
                class="btn btn-outline-primary"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
                (click)="onSelect()"
            >
                Fetch Transaction History
            </button>
        </div>
    </form>
</div>
<div class="row" *ngIf="subscriptionTransaction!=null && subscriptionTransaction.length!=0">
        <div class="card">
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Transaction Time</th>
                        <th>Action</th>
                        <th>Product</th>
                        <th>Channel</th>
                        <th>Price</th>
                        <th>Valid Until</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let singleSubscription of subscriptionTransaction" >
                        <td>{{singleSubscription.firstChargedDate}}</td>
                        <td>{{singleSubscription.auditActionDesc}}</td>
                        <td>{{singleSubscription.prodName}}</td>
                        <td>{{singleSubscription.subChannelName}}</td>
                        <th>{{singleSubscription.amountCharged}}</th>
                        <th>-</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
