img.wp-smiley,img.emoji {
		display:inline !important;
		border:none !important;
		box-shadow:none !important;
		height:1em !important;
		width:1em !important;
		margin:0 .07em !important;
		vertical-align:-0.1em !important;
		background:none !important;
		padding:0 !important;
}
.woocommerce-product-gallery {
	opacity:1 !important;
}
.search-box {
	padding-top:32px;
	padding-right:32px;
	padding-bottom:32px;
	padding-left:32px;
}
#primary-navigation>div>ul>li>a,#primary-navigation2>div>ul>li>a {
	padding-right:35px;
	padding-left:35px;
}
#primary-navigation div div li>a,#primary-navigation ul ul a,#primary-navigation2 div div li>a,#primary-navigation2 ul ul a {
	color:#ffffff;
}
#primary-navigation div div li>a:hover,#primary-navigation ul ul a:hover,#primary-navigation2 div div li>a:hover,#primary-navigation2 ul ul a:hover {
	color:#ffffff;
}
#primary-navigation div div li>a,#primary-navigation ul ul a,#primary-navigation2 div div li>a,#primary-navigation2 ul ul a {
	padding-top:9px;
	padding-right:24px;
	padding-bottom:9px;
	padding-left:24px;
}
#main-logo-area {
	width:300px;
	margin-left:-150px;
}
@media screen and (max-width:767px) {
	#main-logo-area {
		width:70px;
		margin-left:0;
	}
}
#primary-navigation {
	padding-right:150px;
}
#primary-navigation2 {
	padding-left:150px;
}
#themeblossom_loading_screen_logo {
	width:172px;
	height:172px;
}
#themeblossom_loading_screen_logo .loader_ring {
	width:172px;
	height:172px;
	border-radius:172px;
}
.primary-navigation ul li:hover>ul {
	top:72px;
}
.primary-navigation ul li {
	font-size:14px;
}
#tb-responsive-nav-trigger {
	color:#535353;
}
#primary-navigation>div>ul>li>a:hover,#primary-navigation>div>ul>li:hover>a,#primary-navigation>div>ul>li.current-menu-item>a,#primary-navigation>div>ul>li.current-menu-ancestor>a {
	color:#e4161d;
}
#primary-navigation2>div>ul>li>a:hover,#primary-navigation2>div>ul>li:hover>a,#primary-navigation2>div>ul>li.current-menu-item>a,#primary-navigation2>div>ul>li.current-menu-ancestor>a {
	color:#e4161d;
}
#masthead .primary-navigation .mega-menu ul .current-menu-item a {
	color:#ffffff;
}
.btn-tb-primary,#tribe-bar-form .tribe-bar-submit input.btn-tb-primary[type="submit"],.woocommerce .button.btn-tb-primary,.woocommerce a.button.btn-tb-primary {
	background-color:#281a70 !important;
	background:#281a70 !important;
}
.btn-tb-primary:hover,.btn-tb-secondary.current,#tribe-bar-form .tribe-bar-submit input.btn-tb-primary[type="submit"]:hover,.woocommerce .button.btn-tb-primary:hover,.woocommerce a.button.btn-tb-primary:hover {
	background-color:#1e125d !important;
	background:#1e125d !important;
}
.btn-tb-secondary,#tribe-bar-form .tribe-bar-submit input.btn-tb-secondary[type="submit"],.woocommerce .button.btn-tb-secondary,.woocommerce a.button.btn-tb-secondary {
	background-color:#B2081D;
	background:#B2081D;
}
.btn-tb-secondary:hover,.btn-tb-primary.current,#tribe-bar-form .tribe-bar-submit input.btn-tb-secondary[type="submit"]:hover,.woocommerce .button.btn-tb-secondary:hover,.woocommerce a.button.btn-tb-secondary:hover {
	background-color:#cc0a21 !important;
	background:#cc0a21 !important;
}
.btn-border1 {
	background-color:#281a70;
	background:#281a70;
}
.btn-border1:hover {
	background-color:#FFFFFF;
	background:#FFFFFF;
}
.btn-border2 {
	background-color:#B2081D;
	background:#B2081D;
}
.btn-border2:hover {
	background-color:#FFFFFF;
	background:#FFFFFF;
}
.featured-image-holder.show-date .date-box span.day {
	 background:#281a70;
}
.featured-image-holder.show-date .date-box span.month {
	 background:#32288D;
}
.featured-image-holder.show-date .date-box span.city {
	 background:#B1091C;
}
.featured-image-holder.show-date .date-box #single-event-countdown,.featured-image-holder.show-date .date-box.date-box-event span.day,.featured-image-holder.show-date .date-box.date-box-event span.month {
	 background:#990314;
}
.featured-image-holder.show-date:hover .date-box span.day {
	 background:#B1091C;
}
.featured-image-holder.show-date:hover .date-box span.month {
	 background:#990314;
}
.featured-image-holder.show-date:hover .date-box span.city {
	 background:#281a70;
}
.featured-image-holder.show-date:hover .date-box #single-event-countdown,.featured-image-holder.show-date:hover .date-box.date-box-event span.day,.featured-image-holder.show-date:hover .date-box.date-box-event span.month {
	 background:#32288D;
}
aside.widget_newsletterwidget input[type="submit"].newsletter-submit {
	background-color:#B1091C;
	background:#B1091C;
}
aside.widget_newsletterwidget input[type="submit"].newsletter-submit:hover,aside.widget_newsletterwidget input[type="submit"].newsletter-submit:focus {
	background-color:#cc0a21;
	background:#cc0a21;
}
aside.widget_newsletterwidget input[type="submit"].newsletter-submit:active {
	background-color:#cc0a21;
	background:#cc0a21;
}
aside.widget_newsletterwidget input[type="text"],aside.widget_newsletterwidget input[type="email"],aside.widget_newsletterwidget input[type="password"],aside.widget_newsletterwidget textarea,aside.widget_newsletterwidget select,aside.widget_newsletterwidget .selectize-input,aside.widget_newsletterwidget .selectize-dropdown,aside.widget_newsletterwidget .selectize-control .selectize-dropdown-content>div[data-selectable] {
	background-color:#281A70;
	background:#281A70;
	color:#A9A3C6;
}
aside.widget_newsletterwidget input[type="text"]:focus,aside.widget_newsletterwidget input[type="email"]:focus,aside.widget_newsletterwidget input[type="password"]:focus,aside.widget_newsletterwidget textarea:focus,aside.widget_newsletterwidget select,aside.widget_newsletterwidget .selectize-control.single .selectize-input.input-active,aside.widget_newsletterwidget .selectize-dropdown,aside.widget_newsletterwidget .selectize-control .selectize-dropdown-content>div[data-selectable]:hover,aside.widget_newsletterwidget .selectize-control .selectize-dropdown-content>div[data-selectable].selected {
	background-color:#180B58;
	background:#180B58;
	color:#ffffff;
}
input[type="button"],input[type="reset"],input[type="submit"] {
	background-color:#D20921;
	background:#D20921;
}
input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus {
	background-color:#F30A26;
	background:#F30A26;
}
input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active {
	background-color:#F30A26;
	background:#F30A26;
}
.liberty_form_style1 input[type="button"],.liberty_form_style1 input[type="reset"],.liberty_form_style1 input[type="submit"] {
	background-color:#372C95;
	background:#372C95;
}
.liberty_form_style1 input[type="button"]:hover,.liberty_form_style1 input[type="reset"]:hover,.liberty_form_style1 input[type="submit"]:hover,.liberty_form_style1 input[type="button"]:focus,.liberty_form_style1 input[type="reset"]:focus,.liberty_form_style1 input[type="submit"]:focus {
	background-color:#251B78;
	background:#251B78;
}
.liberty_form_style1 input[type="button"]:active,.liberty_form_style1 input[type="reset"]:active,.liberty_form_style1 input[type="submit"]:active {
	background-color:#251B78;
	background:#251B78;
}
.liberty_form_style1 .wrap-forms input[type="text"],.liberty_form_style1 .wrap-forms input[type="email"],.liberty_form_style1 .wrap-forms input[type="password"],.liberty_form_style1 .wrap-forms textarea,.liberty_form_style1 .wrap-forms select,.liberty_form_style1 .wrap-forms .selectize-input,.liberty_form_style1 .wrap-forms .selectize-dropdown,.liberty_form_style1 .wrap-forms .selectize-control .selectize-dropdown-content>div[data-selectable],.liberty_form_style1 input[type="text"],.liberty_form_style1 input[type="email"],.liberty_form_style1 input[type="password"],.liberty_form_style1 textarea,.liberty_form_style1 select,.liberty_form_style1 .selectize-input,.liberty_form_style1 .selectize-dropdown,.liberty_form_style1 .selectize-control .selectize-dropdown-content>div[data-selectable] {
	background-color:#B2081D;
	background:#B2081D;
	color:#ffffff;
}
.liberty_form_style1 .wrap-forms input[type="text"]:focus,.liberty_form_style1 .wrap-forms input[type="email"]:focus,.liberty_form_style1 .wrap-forms input[type="password"]:focus,.liberty_form_style1 .wrap-forms textarea:focus,.liberty_form_style1 .wrap-forms select,.liberty_form_style1 .wrap-forms .selectize-control.single .selectize-input.input-active,.liberty_form_style1 .wrap-forms .selectize-dropdown,.liberty_form_style1 .wrap-forms .selectize-control .selectize-dropdown-content>div[data-selectable]:hover,.liberty_form_style1 .wrap-forms .selectize-control .selectize-dropdown-content>div[data-selectable].selected,.liberty_form_style1 input[type="text"]:focus,.liberty_form_style1 input[type="email"]:focus,.liberty_form_style1 input[type="password"]:focus,.liberty_form_style1 textarea:focus,.liberty_form_style1 select,.liberty_form_style1 .selectize-control.single .selectize-input.input-active,.liberty_form_style1 .selectize-dropdown,.liberty_form_style1 .selectize-control .selectize-dropdown-content>div[data-selectable]:hover,.liberty_form_style1 .selectize-control .selectize-dropdown-content>div[data-selectable].selected {
	background-color:#D20921;
	background:#D20921;
	color:#ffffff;
}
.liberty_form_style1 .wrap-forms input:-moz-placeholder,		.liberty_form_style1 .wrap-forms textarea:-moz-placeholder {
				color:#ffffff;
}
		.liberty_form_style1 .wrap-forms input::-moz-placeholder,		.liberty_form_style1 .wrap-forms textarea::-moz-placeholder {
				color:#ffffff;
}
		.liberty_form_style1 .wrap-forms input:-ms-input-placeholder,		.liberty_form_style1 .wrap-forms textarea:-ms-input-placeholder {
				color:#ffffff;
}
		.liberty_form_style1 .wrap-forms input::-webkit-input-placeholder,		.liberty_form_style1 .wrap-forms textarea::-webkit-input-placeholder {
				color:#ffffff;
}
		.liberty_form_style1 .wrap-forms input:focus::-webkit-input-placeholder {
				color:transparent;
}
		.liberty_form_style1 .wrap-forms textarea:focus::-webkit-input-placeholder {
				color:transparent;
}
.liberty_form_style1 input:-moz-placeholder,		 .liberty_form_style1 textarea:-moz-placeholder {
				color:#ffffff;
}
		 .liberty_form_style1 input::-moz-placeholder,		 .liberty_form_style1 textarea::-moz-placeholder {
				color:#ffffff;
}
		 .liberty_form_style1 input:-ms-input-placeholder,		 .liberty_form_style1 textarea:-ms-input-placeholder {
				color:#ffffff;
}
		 .liberty_form_style1 input::-webkit-input-placeholder,		 .liberty_form_style1 textarea::-webkit-input-placeholder {
				color:#ffffff;
}
		 .liberty_form_style1 input:focus::-webkit-input-placeholder {
				color:transparent;
}
		 .liberty_form_style1 textarea:focus::-webkit-input-placeholder {
				color:transparent;
}
.tb-posts-carousel .tb-post-carousel-content {
	color:#281A70;
	background-color:#ffffff;
}
.tb-posts-carousel .slick-slide:hover .tb-post-carousel-content {
	color:#ffffff;
	background-color:#281A70;
}
.tb-posts-carousel .tb-post-carousel-content h2 {
	color:#281A70;
}
.tb-posts-carousel .slick-slide:hover .tb-post-carousel-content h2 {
	color:#ffffff;
}
.tb-post-carousel-content .date-box {
	background-color:#B1091C;
}
.slick-slide:hover .tb-post-carousel-content .date-box {
	background-color:#990314;
}
.tb-posts-carousel .read-more {
	color:#A02E2F;
	background-color:#ffffff;
}
.tb-posts-carousel .slick-slide:hover .read-more {
	color:#ffffff;
	background-color:#1E125D;
}
.tb-related-posts span {
	background-color:rgba(0,0,0,0.4);
}
.tb-related-posts h4 {
	color:#ffffff;
}
.tb-issues-holder .ch-item {
	background-color:#281A70;
}
.tb-issues-holder .ch-info-back {
	background-color:#32288D;
}
.tb-issues-holder .ch-info h3,.ch-info i:before {
	color:#ffffff;
}
#issues-list-bar {
	background:#B2081D;
}
.tb-portfolio-img span,.tb-issues-holder.tb-gallery-list .ch-info-back {
	background-color:rgba(4,49,116,0.8);
}
.tb-portfolio-img h3,.tb-portfolio-img p,.tb-issues-holder.tb-gallery-list .ch-info i:before {
	color:#ffffff;
}
#wide-footer input[type="button"],#wide-footer input[type="reset"],#wide-footer input[type="submit"],#wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit {
	background-color:#B3AED2;
	background:#B3AED2;
}
#wide-footer input[type="button"]:hover,#wide-footer input[type="reset"]:hover,#wide-footer input[type="submit"]:hover,#wide-footer input[type="button"]:focus,#wide-footer input[type="reset"]:focus,#wide-footer input[type="submit"]:focus,#wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:hover,#wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:focus {
	background-color:#9894b3;
	background:#9894b3;
}
#wide-footer input[type="button"]:active,#wide-footer input[type="reset"]:active,#wide-footer input[type="submit"]:active,#wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:active {
	background-color:#9894b3;
	background:#9894b3;
}
.wide-footer input[type="button"],.wide-footer input[type="reset"],.wide-footer input[type="submit"],.wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit {
	background-color:#281A70;
	background:#281A70;
}
.wide-footer input[type="button"]:hover,.wide-footer input[type="reset"]:hover,.wide-footer input[type="submit"]:hover,.wide-footer input[type="button"]:focus,.wide-footer input[type="reset"]:focus,.wide-footer input[type="submit"]:focus,.wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:hover,.wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:focus {
	background-color:#180B58;
	background:#180B58;
}
.wide-footer input[type="button"]:active,.wide-footer input[type="reset"]:active,.wide-footer input[type="submit"]:active,.wide-footer aside.widget_newsletterwidget input[type="submit"].newsletter-submit:active {
	background-color:#180B58;
	background:#180B58;
}
#wide-footer input[type="text"],#wide-footer input[type="email"],#wide-footer input[type="password"],#wide-footer textarea,#wide-footer select,#wide-footer .selectize-input,#wide-footer .selectize-dropdown,#wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable] {
	background-color:#443690;
	background:#443690;
	color:#A4A0C4;
}
#wide-footer input[type="submit"],#wide-footer input[type="text"],#wide-footer input[type="email"],#wide-footer input[type="password"],#wide-footer select,#wide-footer .selectize-input,#wide-footer .selectize-dropdown,#wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable] {
	height:50px;
}
#wide-footer span {
	height:50px;
	line-height:50px;
	font-size:60%;
	right:15px;
}
#wide-footer input[type="text"]:focus,#wide-footer input[type="email"]:focus,#wide-footer input[type="password"]:focus,#wide-footer textarea:focus,#wide-footer select,#wide-footer .selectize-control.single .selectize-input.input-active,#wide-footer .selectize-dropdown,#wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable]:hover,#wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable].selected {
	background-color:#5240ad;
	background:#5240ad;
	color:#C2BFD6;
}
.wide-footer input[type="text"],.wide-footer input[type="email"],.wide-footer input[type="password"],.wide-footer textarea,.wide-footer select,.wide-footer .selectize-input,.wide-footer .selectize-dropdown,.wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable] {
	background-color:#9F071A;
	background:#9F071A;
	color:#ffffff;
}
.wide-footer input[type="submit"],.wide-footer input[type="text"],.wide-footer input[type="email"],.wide-footer input[type="password"],.wide-footer select,.wide-footer .selectize-input,.wide-footer .selectize-dropdown,.wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable] {
	height:50px;
}
.wide-footer span {
	height:50px;
	line-height:50px;
	font-size:60%;
	right:15px;
}
.wide-footer input[type="text"]:focus,.wide-footer input[type="email"]:focus,.wide-footer input[type="password"]:focus,.wide-footer textarea:focus,.wide-footer select,.wide-footer .selectize-control.single .selectize-input.input-active,.wide-footer .selectize-dropdown,.wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable]:hover,.wide-footer .selectize-control .selectize-dropdown-content>div[data-selectable].selected {
	background-color:#7E000F;
	background:#7E000F;
	color:#ffffff;
}
#volunteer-now-form {
	background:#fff;
}
#volunteer-now-form .padding15-xs {
	border:1px solid #D1D4D9;
	margin:70px;
}
.call-to-action-cols h3 {
	margin-top:0 !important;
}
.tb-issues-red-bar .tb-icon-box-image {
	padding:0 10px 0 0 !important;
	margin-bottom:0 !important;
}
.tb-issues-red-bar h3 {
	margin-bottom:0 !important;
}
.contact-page-info .tb-icon-box-image {
	margin-right:30px;
}
#home-twitter-widget a,#home-instagram-widget a,#home-facebook-widget a {
	color:#fff;
}
#home-facebook-widget #cff .cff-item {
	border-bottom:1px solid rgba(255,255,255,0.15) !important;
	padding-top:15px;
}
#home-facebook-widget #cff .cff-item:last-child {
	border-bottom: none !important;
}

  .popup {
    display: none;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	z-index: 10;
  }
  .popup-overlay {
  	background: rgba(0,0,0,0.9);
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  }
  .popup-content {
  	position: absolute;
    background: #a99e1b;
  	width: 500px;
  	margin: -58px 0 0 -264px;
  	left: 50%;
  	top: 50%;
  	z-index: 11;
    padding: 14px;
  }
  .close-popup {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -30px;
    font-size: 42px;
  }
  /* Animations */
  .flipRightIn {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: flipRightIn .5s both ease-out;
      -moz-animation: flipRightIn .5s both ease-out;
      animation: flipRightIn .5s both ease-out;
  }
  @-webkit-keyframes flipRightIn {
      from {-webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: .2;}
  }
  @keyframes flipRightIn {
      from {transform: translateZ(-1000px) rotateY(-90deg);opacity: .2;}
  }
  .flipRightOut {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: flipRightOut .5s both ease-in;
      -moz-animation: flipRightOut .5s both ease-in;
      animation: flipRightOut .5s both ease-in;
  }
  @-webkit-keyframes flipRightOut {
      to {-webkit-transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
  }
  @keyframes flipRightOut {
      to {transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
  }
/* Demo Styles */
  /*
  body {
    font-family: verdana;
    font-size: 12px;
    text-align: center;
  }
  a {
    color: rgb(0, 159, 211);
    text-decoration: none;
  }
  .btn {
    background: rgb(0, 159, 211);
    color: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 5px 20px;
  }
  .btn:hover {
    background: #fff;
    color: rgb(0, 159, 211);
  }
  */
  .popup {
      -webkit-perspective: 1200px;
      -moz-perspective: 1200px;
      perspective: 1200px;
  }
  .popup-content {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
