.vscode
.DS_Store
*.log
/vendor
/storage
/plugins/october
/modules/**/*
/config
/bootstrap
/themes/demo
artisan
index.php
.htaccess
install-master/storage/cms/cache/*
install-master/storage/cms/twig/*
install-master/storage/framework/cache/*
install-master/storage/framework/cache/*
install-master/storage/framework/sessions/*

