<div [@routerTransition]>
  <app-page-header [heading]="'WAP History'" [icon]="'fa-globe'"></app-page-header>
  <div class="row">
    <div class="col-lg-4">
      <form role="form-inline">
        <div class="form-row">
            <div class="form-group col-md-4 col-lg-6">
                <label for="companyName" class="mr-2 col-form-label-sm">MSISDN:&nbsp;</label>
                <input type="text" class="form-control form-control-sm" autocomplete="off" name="companyName" id="companyName" [(ngModel)]="msisdn" placeholder="Enter MSISDN" required="" pattern="^.+$" value="">
            </div>
        </div>
      </form>
    </div>
    <div class="row col-lg-8">
        <form class="form-inline mb-3">
            <span>
              <strong>Select Date </strong>From: &nbsp;
            </span>
              <div class="form-group">
                  <div class="input-group datepicker-input">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                          name="dpStart" [(ngModel)]="startDateObj" ngbDatepicker #d1="ngbDatepicker">
                      <button class="input-group-addon" (click)="d1.toggle()" type="button">
                          <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                          <span class="fa fa-calendar"></span>
                      </button>
                  </div>
              </div>
              <span>
                &nbsp; To: &nbsp;
              </span>
              <div class="form-group">
                  <div class="input-group datepicker-input">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                          name="dpEnd" [(ngModel)]="endDateObj" ngbDatepicker #d2="ngbDatepicker">
                      <button class="input-group-addon" (click)="d2.toggle()" type="button">
                          <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                          <span class="fa fa-calendar"></span>
                      </button>
                  </div>
              </div>
              <div class="form-group">
                <span>&nbsp;</span>
                <button type="button" class="btn btn-outline-primary" (click)="getAuditVisits()">Fetch Details</button>
              </div>
          </form>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
  <div class="card-body table-responsive">
      <table class="table table-hover table-striped">
          <thead>
          <tr>
              <th>Visited Date</th>
              <th>Product</th>
              <th>Price</th>
              <th>User IP</th>
              <th>UserAgent</th>
              <th>Reference URL</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auditVisit of auditVisits">
                <td>
                    {{ auditVisit.visitedDate }}
                </td>
                <td>
                    {{ auditVisit.productName }}
                </td>
                <td>
                    {{ auditVisit.price }}
                </td>
                <td>
                    {{ auditVisit.userIp }}
                </td>
                <td>
                    {{ auditVisit.userAgent }}
                </td>
                <td>
                    {{ auditVisit.refUrl }}
                </td>
            </tr>
      </tbody>
      </table>
  </div>
</div>
</div>
</div>
