<div [@routerTransition]>
    <app-page-header [heading]="'DND or Blacklist'" [icon]="'fa-ban'"></app-page-header>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">DND Or Black List</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <label for="msisdn">MSISDN:</label>
                            <textarea
                                id="msisdn"
                                name="msisdn"
                                [(ngModel)]="blackListedNumbers"
                                class="form-control rounded-0"
                                rows="3"
                            ></textarea>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" (click)="addBlackList()">Add MSISDN to DND</button>
                        </div>
                    </div>
                    <br />
                    <table id="blackList" class="table table-striped">
                        <thead>
                            <tr>
                                <th>MSISDN</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registeredBlackList">
                                <td>
                                    {{ item.msisdn }}
                                </td>
                                <td>
                                    {{ item.createdDate }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
