<div class="container-fluid">
  <div class="container xd-container">

    <h2>Operators</h2>

    <table id="operators" class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone</th>
        <th>Established Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operator of operators">
        <td>
          {{ operator.id }}
        </td>
        <td>
          {{ operator.name }}
        </td>
        <td>
          {{ operator.address }}
        </td>
        <td>
          {{ operator.telephone }}
        </td>
        <td>
          {{ operator.establishedDate }}
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-default" (click)="gotoHome()">Home</button>
      <button class="btn btn-default" (click)="addVet()">Add Vet</button>
    </div>
  </div>
</div>