<div id="themeblossom_loading_screen" class="pace absolutecenter-all">
<div id="themeblossom_loading_screen_logo">
  <div class="loader_ring">
  </div>
  <img src="{{'assets/images/logo.jpg'|theme}}" width="142px;">
</div>
</div>
<div id="overlay-menu" class="hidden-xs">
<div id="overlay-menu-trigger">
  <i class="icon-cross"></i>
</div>
<div class="absolutecenter">
  <div id="overlay-menu-holder">
    <div class="menu-action-menu-container">
      <ul id="menu-action-menu" class="overlay-menu absolutecenter">
        <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-40"><a href="#volunteer/" class="fa fa-users"><span>Volunteer</span></a></li>
        <li id="menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-512"><a href="#shop/" class="fa fa-shopping-cart"><span>Shop</span></a></li>
        <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-38"><a href="#" class="fa fa-heart btn open-popup" data-id="donation_dialog" data-animation="flipRight"><span>Donate Now</span></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
