	<header id="masthead" class="site-header">
	<div id="main-logo-area">
		<h1 class="site-title" id="main-logo">
		<a id="main-logo-link" href="/" rel="home">
		<img src="{{'assets/images/logo.jpg'|theme}}" alt="Liberty" class="hidden-xs"><img src="{{'assets/images/logo.jpg'|theme}}" alt="Liberty" class="hidden-sm hidden-md hidden-lg visible-xs"></a>
		</h1>
	</div>
	<div id="promo" class="hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="top-nav-menu">

							<li id="menu-item-840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840">
								<a href="#">About Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="alignright">
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-facebook2"></span></a>
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-twitter2"></span></a>
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-instagram"></span></a>
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-linkedin"></span></a>
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-pinterest2"></span></a>
						<a target="_blank" href="#"><span aria-hidden="true" class="icon-youtube3"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="transl-tion">
			<div id="en-gb" style="float: left; margin: 0px 5px;">English</div>
			<label class="switch">
				<input type="checkbox" class="translate" checked>
				<span class="slider round"></span>
			</label>
			<div id="zh-tw" style="float: right; margin: 0px 5px;">தமிழ்</div>
	</div>
	<div id="site-branding" class="header-main">
		<div class="container">
			<nav id="primary-navigation" class="site-navigation primary-navigation">
			<div class="menu-main-menu-container">
				<ul id="menu-main-menu" class="nav-menu">
					<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-36"><a href="#">Home</a></li>
					<li id="menu-item-974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-974"><a href="#issues/">Issues</a>
					<ul class="sub-menu">
						<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="#issues2/">Issues 2</a></li>
						<li id="menu-item-973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-973"><a href="#issues-3/">Issues 3</a></li>
						<li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-issue menu-item-1054"><a href="#issue/veterans/">Single Issue</a></li>
					</ul>
					</li>
				</ul>
			</div>
			</nav>
			<nav id="primary-navigation2" class="site-navigation primary-navigation">
			<div class="menu-main-menu-2-container">
				<ul id="menu-main-menu-2" class="nav-menu">
					<li id="menu-item-887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-887"><a href="#events/">Events</a>
					<ul class="sub-menu">
						<li id="menu-item-888" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-888"><a href="#events/2019-10/">Month View</a></li>
						<li id="menu-item-889" class="menu-item menu-item-type-post_type menu-item-object-tribe_events menu-item-889"><a href="#event/chicago-honor-our-past-build-for-the-future/">Single Event</a></li>
					</ul>
					</li>
					<li id="menu-item-890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-890"><a href="#" class="open-popup" data-id="donation_dialog" data-animation="flipRight">Donate</a>
          <!--
					<ul class="sub-menu">
						<li id="menu-item-891" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-891"><a href="#product/red-sweater/">Single Product</a></li>
						<li id="menu-item-892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-892"><a href="#" class="btn open-popup" data-id="donation_dialog" data-animation="flipRight">Donate Now</a></li>
					</ul>
          -->
					</li>
					<li id="menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893"><a href="#contact/" key="CONTACT"  class="lang">Contact</a></li>
				</ul>
			</div>
			</nav>
		</div>
	</div>
	</header>
